
header { 
    display: flex;
    background-color: #064635;
    height: 100px;
    text-align: right;
    justify-content: flex-end;
}

.first {
    align-items: center;
}

.nav-list {
    /* width: 100%;
    align-items: center; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 300px;
    margin-right: 300px;

}

.lucas {
    color: white;
    text-align: left;
    width: 10%;
    padding-left: 20px;

}

body {
    background-image: linear-gradient(to right, black, darkblue);
    width:100%;
    height: 100%;
}

nav {
    /* background-color: aqua; */
    color: white;
    width: auto;
    height: 100px;
    text-align: right;
}

.second {
    background-color: #519259;
    color: black;
    background-image: url(https://i.pinimg.com/564x/ca/90/97/ca909772f2b72e9954275f466825ffc0.jpg);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.second p {
    margin-right: 20px;
    color: white;
    border: 5px solid white;
    background-color: darkgray;
    padding: 20px;
    border-radius: 0px 25px 0px 25px;

}

li {
    display:inline-block;
    padding: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
}


footer {
    display: flex;
    /* background-color: #F4EEA9; */
    /* text-align: center; */
    padding-bottom: 20px;
    padding-top: 100px;
    color: white;
}

.contact-me {
    /* display: flex; */
    text-align: left;
    margin-top: 40px;
    margin-right: 800px;
}

.jupiter {
    width: 10%;
    padding-left: 20px;
    justify-content: left;
}

.mars {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
}

footer a {
    color: white;
}

.venus {
    /* position: absolute; */
    justify-content:left;
    width: 10%;
    padding-left: 20px;
    color: white;
}

.super {
    width: 100%;
    border-radius: 0px 25px 0px 25px;
}

.about-me{ 
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.new {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px 25px;
    margin-top: 50px;
}

.test {
    display: flex;
    padding-top: 20px;
    padding-bottom: 100px;
}

.liberty { 
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;
    padding: 20px;
    justify-content: space-evenly; */

}

.saturn {
    position: absolute;
    /* left: 415px;
    bottom: 18px; */
    /* justify-content: center; */
    width: 80%;
    color: white;

}

.giantpic {
    width: 100%;
    border: 5px solid darkcyan;
    border-radius: 0px 25px 0px 25px;
}

.work-card {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* position: relative;
    width: 45%;
    padding: 10px;
     */
}

.work-card img {
    border: 5px solid darkcyan;
    border-radius: 0px 25px 0px 25px;
    
}

.titan {
    margin-top: 50px;
    /* position: absolute;
    justify-content:left; */
    width: 10%;
    padding-left: 20px;
    color: white;
}

.neptune {
    position: absolute;
    left:412px;
    bottom: 40px;
    justify-content: flex-start;
    color: white;
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 0px 25px 25px 0px;
}

.tiger {
    position: absolute;
    justify-content: flex-start;
    color: white;
    background-color: cornflowerblue;
    padding: 29px;
    border-radius: 0px 25px 25px 0px;
    margin-top: 13%;
    margin-left: 5px;
    
}


@media screen and (max-width: 992px) {
    .work-card{ 
        width:50%
    }
}

@media screen and (max-width: 320px){
    .work-card{
        width:100%
    }
    main{
        width:100%;
    }
    header{
        width:100%;
    }
}



