
header { 
    background-color: #064635;
    padding-left: 30px;
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; */
    height: 100px;
    text-align: right;
}

.lucas {
    display: flex;
    text-align: left;
    margin-top: 40px;
    margin-right: 900px;
}

body {
    background-color: #F0BB62;
}

nav {
    /* background-color: aqua; */
    color: white;
    width: auto;
    height: 100px;
    text-align: right;
}

.second {
    background-color: #519259;
    color: black;
    /* background-image: url(https://i.pinimg.com/564x/ca/90/97/ca909772f2b72e9954275f466825ffc0.jpg); */
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.second p {
    margin-right: 20px;
    color: white;
}

li {
    display:inline-block;
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

#about-me {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    margin-right: 30px;
}

#about-me h1 {
    text-align: right;
    padding-right: 200px;
    padding-left: 100px;
}

footer {
    display: flex;
    background-color: #F4EEA9;
    justify-content: center;
}

.work-card {
    display: flex;
    padding-left: 100px;
}

.work-card img {
    padding-left: 200px;
}

.work-card h1 {
    padding-top: 200px;
}